@media only screen and (max-width: 1662px) {
  .footer_desktop_menu {
    .about-menu {
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  #menu-desktop-menu {
    li.menu-item a {
      font-size: 16px;
    }
  }
  .header-logo img {
    width: 250px;
    bottom: 57px;
  }
  .news {
    margin-top: 50px;
  }

  .dashboard-area .activities-button button {
    width: 102px;
  }

  .dashboard-image .post_image {
    width: 500px;
  }
  .news-section-wrapper .post_image {
    width: 520px;
    margin-top: 9%;
  }
  .view-news-button,
  .single-news {
    width: 95%;
  }

  .events-loop {
    h3.frontpage-card-title {
      font-size: 19px;
    }
    .event-calendar-button {
      font-size: 15px;
    }

    .event-calendar-description {
      border: none;
    }
    .events-content-top {
      border-bottom: 1px solid #000;
    }
    span.learn-more {
      padding: 15px;
    }
  }

  .top_static_options {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .price-table {
    width: 70%;
   
}
  header {
    height: 100px;
  }
  span.i-want-to-text {
    font-size: 15px;
  }
  .second-level-menu {
    padding-top: 10px;
  }
  #menu-desktop-menu {
    ul.sub-menu {
      li.menu-item {
        margin-right: 0;
      }
    }
    li.menu-item {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 14px;
      }
    }
    > li > a {
      padding-bottom: 23px;
    }
    ul.sub-menu {
      top: 41px;
    }
  }
  .activities {
    .activities-loop {
      text-align: center;
      .frontpage-card {
        display: inline-block;
      }
      .registration,
      .description {
        text-align: left;
      }
    }
    .register-button {
      left: 280px;
    }
  }

  .dashboard-image .post_image {
    height: 500px;
    width: 100%;
    margin-top: 7%;
  }

  .dashboard-area .activities-button button {
    width: 86%;
  }

  .news-images {
    text-align: center;
  }
  .news-section-wrapper .post_image {
    margin-top: 5%;
    width: 95%;
    height: 450px !important;
    margin-left: 15px;
  }

  .news {
    margin-top: 0;
  }

  .flex-direction-nav a {
    top: 43% !important;
  }

  .footer_desktop_menu {
    .governance-menu {
      margin-top: 0;
    }
  }

  .menu-footer-menu-container {
    margin-left: 10px;
  }

  .social-media-options {
    display: block;
    margin-left: 35px;
    margin-top: 50px !important;
    span a {
      margin-right: 15px;
    }
    span i {
      margin-right: 5px;
    }
  }

  .second-row-information {
    padding-bottom: 0;
    .container {
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .footer-logo {
    margin-bottom: 2rem;
    img {
      position: inherit;
      width: 250px;
    }
  }

  .back_top_animated_arrow {
    bottom: 6rem;
  }

  //Calendar Carousel Style
  .calendar-section-wrapper {
    .events-loop {
      display: flex;
      justify-content: center;
    }
    .register-button {
      left: 280px;
    }
  }

  .events-loop div.frontpage-card {
    margin-top: 20px;
  }

  #menu-footer-menu .menu-item-has-children {
    padding: 30px;
    width: 33%;
  }

  .social-media-options {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .social-media-tag {
    margin-right: 30px;
  }
  .twitter-label {
    margin-right: 20px;
  }
  .top_static_options {
    margin-right: 40px;
    font-size: 15px;
    a {
      font-size: 17px;
    }
  }
  .header-logo img {
    width: 250px;
    bottom: 59px;
  }
  .single-page-section-title h2 {
    font-size: 2rem;
  }
  .fading {
    opacity: 1;
  }
}

@media only screen and (max-width: 850px) {
  #menu-desktop-menu {
    li.menu-item {
      margin-right: 9px;
    }
  }
  .overlay-image .text_area {
    padding-left: 0;
  }
  .overlay-image .text_area .text-container {
    width: 85%;
    margin-left: 15%;
  }
  .overlay-image .button {
    width: 200px;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 768px) {
  //Make Event Calendar Responsive

  .type-tribe_events {
    flex-direction: column;
  }

  .tribe-events-event-image img {
    min-width: 100%;
  }

  .tribe-events-loop .tribe-events-event-meta {
    background: #fff !important;
    border: 0 !important;
  }
  .tribe-events-list-separator-month + .type-tribe_events.tribe-events-first {
    min-height: 600px;
  }
  .tribe-events-list
    .tribe-events-loop
    .type-tribe_events
    .tribe-events-event-meta {
    height: 80px;
  }
  .tribe-events-single ul.tribe-related-events {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  //AGM Documents
  .page-board-meetings .annual-meetings .row {
    padding-left: 0;
  }
  // Fixed Menu
  .slicknav_menu {
    display: block;
    padding: 13px 0 0 0 !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    display: block;
    z-index: 52;
    background: transparent !important;
  }
  .slicknav_nav {
    background-color: #418477;
    width: 100vw;
    right: 0px;
    position: absolute;
    top: 4rem;
  }

  .mobile-header {
    position: fixed !important;
    width: 100%;
    z-index: 51;
  }

  .slicknav_btn {
    margin-bottom: 15px !important;
    margin-right: 1rem !important;
    z-index: 100;
  }

  .overlay-image .text_area {
    width: 100%;
    left: 0;
  }
  .overlay-image .text_area .text-container {
    width: 90%;
    margin: 0 auto;
  }
  .overlay-image .button {
    margin-left: 5%;
  }

  .overlay-image .big_title {
    font-size: 38px;
  }

  .banner-box-container .banner-content {
    width: 100%;
  }

  .rellax {
    transform: none !important;
  }
  .mobile-logo {
    display: block !important;
    img.logo {
      position: absolute;
      max-width: 110px;
      max-height: 55px;
      top: 0;
    }
  }

  .header-logo {
    display: none;
  }

  .header-logo img {
    margin-left: 0;
  }

  .menu-desktop-menu-container {
    display: none;
  }

  //Hours Of Operation Section
  .operation-hours-section .operation-hours-card {
    margin-bottom: 30px;
  }

  //Dashboard Section
  .dashboard-image .post_image {
    height: 420px;
    margin-top: 7%;
  }

  //Activities Section
  .activities {
    .frontpage-card {
      width: 350px !important;
    }
    .register-button {
      left: 184px;
    }
  }

  //News Section
  .news {
    width: 100%;
  }

  .news-section-wrapper .post_image {
    height: 390px !important;
  }

  .view-news-button,
  .single-news {
    width: 95%;
    left: 2%;
  }

  //Calendar Section
  .calendar-section-wrapper .register-button {
    left: 184px;
  }

  //Footer Section
  .footer_desktop_menu {
    max-width: 100% !important;
    ul.sub-menu {
      display: none;
    }
    #menu-footer-menu .menu-item-has-children {
      padding: 10px;
      a {
        color: @white;

        &:hover {
          color: @gold;
        }
      }
    }
  }

  .back_top_animated_arrow {
    bottom: 7rem;
  }
  .social-media-nav {
    position: inherit !important;
  }

  .menu-footer-menu-container {
    margin-left: 0px;
  }

  #menu-footer-menu .menu-item-has-children {
    padding: 30px 10px;
  }

  span.footer_info {
    padding-right: 10px;
  }

  .top_static_options {
    justify-content: space-between;
    padding: 15px;
  }

  span.i-want-to-text,
  .want_menu_tab {
    width: 100%;
    margin-left: 5px;

    .fa {
      margin-right: 10px;
    }
  }

  header {
    padding: 0;
    margin: 0;
    height: auto;
  }
  .col-lg-8.desktop_menu {
    padding: 0;
    position: absolute;
    top: 12px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  div.second-level-menu {
    padding-top: 0;
  }
  .top_want_menu_area {
    padding: 15px 0 !important;
    .top_want_menu {
      top: 55px;
      left: 0;
      background: @green;
      padding: 12px 0;
      padding-bottom: 0;

      a {
        color: #fff !important;
        border-bottom: 1px solid #fff;
        padding: 5px 10px;
        font-size: 20px;
      }
    }
  }

  span.i-want-to-text {
    padding-left: 10px;
  }
  .top_static_options {
    margin-right: 0;
    position: inherit !important;
  }
  .top_want_menu_area {
    display: none;
  }
  span#search {
    position: absolute;
    top: 13px;
    right: 121px;
    .fa-search {
      padding-top: 5px;
    }
  }
  .top_static_options {
    a {
      position: absolute;
      top: 13px;
      right: 85px;
    }
  }
  .helpful {
    width: 85%;
    padding: 25px 40px;
  }
}

@media only screen and (max-width: 575px) {
  //Dashboard Section
  .dashboard-image .post_image {
    height: 380px;
  }

  .dashboard-button button {
    font-size: 15px;
    width: 300px;
  }

  //Activities Section
  .activities .register-button {
    position: relative;
    left: 0%;
    bottom: -11px;
  }

  .news-section-wrapper .post_image {
    height: 340px !important;
  }

  //Calendar Section

  .calendar-section-wrapper .register-button {
    position: relative;
    left: 75px;
    top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  body.home .global-alert-container {
    top: 80px !important;
  }

  .upcoming-activities-buttons .upcoming-activities-button {
    margin-right: 15px;
  }

  .news-section-wrapper .news-title {
    font-size: 17px;
  }

  .news-section-wrapper .news-body p {
    font-size: 14px;
  }

  .calendar-section-wrapper .view-news-button a,
  .news-button {
    font-size: 15px;
  }

  .mb_blurb {
    font-size: 18px;
  }
}

@media only screen and (max-width: 420px) {
  //Dashboard Section
  .dashboard-image .post_image {
    height: 200px;
  }

  .dashboard-button {
    button {
      width: 285px;
      padding: 12px 10px;
    }
  }

  //Activities Section
  .activities {
    .frontpage-card,
    .post_image {
      width: 300px !important;
    }
    .frontpage-card {
      height: 530px;
      margin-bottom: 20px;
    }
    .post_image {
      height: 210px;
    }
  }

  .upcoming-activities-button {
    width: 150px;
    padding: 6px 7px;
    font-size: 14px;
  }

  .flex-direction-nav a.flex-prev:before,
  .flex-direction-nav a.flex-next:before {
    font-size: 85px;
  }

  .news-section-wrapper .post_image {
    height: 320px !important;
  }
}

@media only screen and (max-width: 991px) {
  .top_want_menu {
    top: 27px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .left-overlay-image {
    .text_area {
      padding: 0;
      .text-container {
        width: 85%;
        margin: 0 auto;
      }
    }
    p {
      margin: 0;
    }
    .button {
      width: 250px;
      margin-left: 7.5%;
    }
  }
}

@media only screen and (max-width: 575px) {
  div.copyright_area {
    margin: 0;
    .row {
      padding: 0 15px;
      flex-direction: column;
      text-align: right;
    }
    .p-0 {
      padding: 0 15px !important;
    }
  }
}

@media only screen and (max-width: 360px) {
  .calendar-section-wrapper .register-button {
    left: 50px;
  }
}

//Special Carousel Responsive Style

@media only screen and (max-width: 1700px) {
  .flex-direction-nav a.flex-prev {
    left: 190px !important;
  }

  .flex-direction-nav .flex-next {
    right: 170px !important;
  }
}

@media only screen and (max-width: 1628px) {
  .flex-direction-nav a.flex-prev {
    left: 170px !important;
  }

  .flex-direction-nav .flex-next {
    right: 150px !important;
  }
}

@media only screen and (max-width: 1560px) {
  .flex-direction-nav a.flex-prev {
    left: 140px !important;
  }

  .flex-direction-nav .flex-next {
    right: 120px !important;
  }
}

@media only screen and (max-width: 1495px) {
  .flex-direction-nav a.flex-prev {
    left: 100px !important;
  }

  .flex-direction-nav .flex-next {
    right: 80px !important;
  }
}

@media only screen and (max-width: 1402px) {
  .flex-direction-nav a.flex-prev {
    left: 80px !important;
  }

  .flex-direction-nav .flex-next {
    right: 60px !important;
  }
}

@media only screen and (max-width: 1350px) {
  .flex-direction-nav a.flex-prev {
    left: 60px !important;
  }

  .flex-direction-nav .flex-next {
    right: 40px !important;
  }
}

@media only screen and (max-width: 1306px) {
  .flex-direction-nav a.flex-prev {
    left: 40px !important;
  }

  .flex-direction-nav .flex-next {
    right: 20px !important;
  }
}

@media only screen and (max-width: 1270px) {
  .flex-direction-nav a.flex-prev {
    left: 0px !important;
  }

  .flex-direction-nav .flex-next {
    right: 0px !important;
  }
}

@media only screen and (max-width: 1094px) {
  .flex-direction-nav .flex-next:before,
  .flex-direction-nav .flex-prev:before {
    padding-right: 0 !important;
  }
}

//Have to reduce card size for this dimension

@media only screen and (max-width: 360px) {
  .events-loop div.frontpage-card {
    width: 300px;
    height: 460px;
  }

  .events-loop .events-content-top {
    height: 178px;
  }
}
